# Configuration de l'environnement de l'application mobile Djeli'S

# Décommentez et modifiez cette valeur avec l'URL de votre serveur API Render
API_BASE_URL=https://api.djeli-app.com/api/v1
# API_BASE_URL=http://10.0.2.2:3000/api/v1 # Pour le développement local (Emulateur Android)
